<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

{{!--this is the main layout and it never changes, what changes
is in the body section which are in this case
all-lunches.hangelbars and index.handlebars which are in the views folder --}}