li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.Eat {
  color: black;
  background-color: wheat;
}

h1 {
  text-align: center;
  background-color: orange;
  font-weight: bold;
  color: green;
}

h2 {
  font-size: 40px;
  color: green;
  background-color: rgb(255, 196, 0);
  opacity:90%;
  width: fit-content;
}

ul {
  background-color: orange;
  opacity: 90;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  background-size: 300px 100px;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-image: url("burger-seamless-pattern-background-vector-design_22159-34.jpg");
  background-color: #cccccc;
 }

 .delete-cat {
  color: black;
  background-color: wheat;
 }

 .bu {
  font-weight: bold;
  font-size: large;
 }

 h4 {
  display: flex;
  justify-content:flex-end;
  justify-content: space-between;
}

ul.right {
  color: black;
  margin-left: 70%;
  font-family: "Lucida Console", "Courier New", monospace;
}

.create-form {
  font-size: 20px;
  font-weight: bold;
}